{% extends 'base.html.twig' %}

{% block title %}TrmVersion{% endblock %}

{% block body %}
    <h1>TrmVersion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trm_version.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ trm_version.name }}</td>
            </tr>
            <tr>
                <th>TRM</th>
                <td><a href="{{ path('app_trm_show', {'id': trm_version.trm.id}) }}">{{ trm_version.trm.name }}</a></td>
{#J'AJOUTE UNE LIGNE POUR VOIR CE QUE FAIT SUBLIME MERGE #}
            </tr>
            <tr>
                <th>Memo</th>
                <td>{{ trm_version.memo }}</td>
            </tr>
        </tbody>
    </table>

    <div class="accordion" id="accordionExample">
        {% for section in trm_version.sections %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                    Section {{ loop.index }} : {{section.nom}}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <th scope="col">Division</th>
                            <th scope="col">Description</th>
                            <th scope="col">Besoin total</th>
                        </thead>
                        <tbody>
                            {% for division in section.divisions %}
                                <tr>
                                    <td>{{ division.name }}</td>
                                    <td>{{ division.description }}</td>
                                    <td>1234</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_trm_version_index') }}">back to list</a>

    <a href="{{ path('app_trm_version_edit', {'id': trm_version.id}) }}">edit</a>

    {{ include('trm_version/_delete_form.html.twig') }}
{% endblock %}
